<div class='container-fluid'>
  <div class="wrapper">
    <div class="push"></div>
  </div>
  <div class='footer countdisplay'>
    <table class='table-responsive'>
      <table class='table table-curved score'>
        <thead class="count">
          <tr>
            <th class='score'><h2>Balls</h2></th>
            <th class='score'><h2>Strikes</h2></th>
            <th class='score'><h2>Outs</h2></th>
            <th class='score'><h2>Inning</h2></th>
          </tr>
        </thead>
        <br>
        <tbody>
          <tr class="count">
            <td class='score'><h2> {{ BaseballFactory.balls }} </h2></td>
            <td class='score'><h2> {{ BaseballFactory.strikes }} </h2></td>
            <td class='score'><h2> {{ BaseballFactory.outs }} </h2></td>
            <td class='score'><h2> {{ BaseballFactory.innings }} </h2></td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>
